<div
  class="bg-white bg-cover bg-center bg-no-repeat py-8"
  style="{% if section.settings.section_image != blank %} background-image: url('{{ section.settings.section_image |  img_url: 'master' }}') {% endif %}"
>
  <div class="container mx-auto px-4 text-center">
    <h2 class="mb-6 text-left font-AnekLatin-SemiBold text-[28px]/[32px] text-woodsmoke">
      {{ section.settings.heading }}
    </h2>
    <ul class="grid grid-cols-1 gap-5 md:grid-cols-3" role="grid">
      {%- for block in section.blocks -%}
        <li class="flex flex-col gap-8 text-left" role="gridcell">
          <div class="flex flex-col border border-solid border-woodsmoke">
            {% if block.settings.col_image != blank %}
              <span class="overflow-hidden bg-linen">
                <img
                  src="{{ block.settings.col_image | img_url: 'master' }}"
                  loading="lazy"
                  width="{{ block.settings.col_image.width }}"
                  height="{{ block.settings.col_image.height }}"
                  alt="{{ block.settings.col_image.alt }}"
                >
              </span>
            {% endif %}
            <div class="flex items-start gap-3 border-t border-solid border-woodsmoke bg-white px-3 py-6">
              <span class="flex h-[24px] w-[24px] flex-none items-center justify-center rounded-full border border-solid border-woodsmoke">
                {{- forloop.index -}}
              </span>
              <div class="flex flex-col gap-2">
                <h4 class="font-AnekLatin-SemiBold text-[18px]/[22px] text-woodsmoke">
                  {{ block.settings.col_heading }}
                </h4>
                <div class="text-[14px]/[22px] text-woodsmoke">{{ block.settings.title }}</div>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
    {% if section.settings.button_text != blank %}
      <a
        href="{{ section.settings.button_link }}"
        class="my-6 inline-flex items-center justify-center gap-2 border border-solid border-woodsmoke bg-flame-pea px-7 py-3 font-AnekDevanagari-SemiBold text-[16px]/[16px] leading-normal tracking-normal text-white"
        role="button"
      >
        <span class="mb-[-2px] mt-[2px]">{{ section.settings.button_text }}</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="11.796"
          height="10.315"
          viewBox="0 0 11.796 10.315"
        >
          <g
            id="Group_8849"
            data-name="Group 8849"
            transform="translate(-215.754 -537.843)">
            <path
              id="Icon_ionic-ios-arrow-forward"
              data-name="Icon ionic-ios-arrow-forward"
              d="M15.366,11.352l-3.9-3.9a.734.734,0,0,1,0-1.041.743.743,0,0,1,1.044,0l4.422,4.419a.736.736,0,0,1,.021,1.016L12.51,16.3a.737.737,0,0,1-1.044-1.041Z"
              transform="translate(204.508 531.646)"
              fill="#fff"></path>
            <path
              id="Icon_ionic-ios-arrow-forward-2"
              data-name="Icon ionic-ios-arrow-forward"
              d="M15.366,11.352l-3.9-3.9a.734.734,0,0,1,0-1.041.743.743,0,0,1,1.044,0l4.422,4.419a.736.736,0,0,1,.021,1.016L12.51,16.3a.737.737,0,0,1-1.044-1.041Z"
              transform="translate(210.406 531.646)"
              fill="#fff"></path>
          </g>
        </svg>
      </a>
    {% endif %}
  </div>
</div>
{% schema %}
{
  "name": "Accordion",
  "class": "section-accordion",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "section_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "info": "Add section heading here"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Block",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "col_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "col_heading",
          "label": "Heading",
          "info": "Add column title here"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Add column info here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accordion"
    }
  ]
}
{% endschema %}
