<div class="container mx-auto py-4 px-6">
  <h2 class="text-[28px]/[32px] text-woodsmoke text-left font-AnekLatin-SemiBold mb-6">{{ section.settings.heading }}</h2>
  <div class="text-center">
    <ul class="my-4 flex gap-3 overflow-x-auto space-x-0 snap-x touch-auto" role="list">
      {%- for block in section.blocks -%}
        <li class="snap-start" role="listitem">
          <div class="flex w-[100px] flex-col items-center justify-center gap-3 text-center">
            <span class="flex h-[100px] w-[100px] items-center justify-center rounded bg-white-lilac">
              {{ block.settings.card_image }}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="50"
                viewBox="0 0 100 100">
                <g
                  id="Group_8848"
                  data-name="Group 8848"
                  transform="translate(-250 -6183.979)">
                  <path
                    id="Path_5200"
                    data-name="Path 5200"
                    d="M323.245,2045.03h-1.509v-7.58h1.509a.765.765,0,0,0,.755-.76,6.816,6.816,0,0,0-6.792-6.83h-2.642l.6-14.38a.763.763,0,0,0-.208-.56.755.755,0,0,0-.547-.24h-9.33l.217-4.55H314a.76.76,0,0,0,0-1.52h-9.425a.763.763,0,0,0-.754.72l-.255,5.36h-9.981a.755.755,0,0,0-.547.24.763.763,0,0,0-.208.56l.538,13.47a7.838,7.838,0,0,0-3.745-.55.753.753,0,0,0-.661.66c-.019.14-.368,3.27,1.415,5.06.066.05.123.12.189.18-3.717.54-6.566,2.18-6.566,6.93a11.356,11.356,0,0,0,11.321,11.37,11.221,11.221,0,0,0,6.33-1.95,3.3,3.3,0,0,0,3.009,1.95H320.7a3.307,3.307,0,0,0,3.3-3.31v-3.51A.759.759,0,0,0,323.245,2045.03Zm-18.113,0V2042h15.094v3.03Zm15.094-4.55H305.132v-3.03h15.094Zm2.208-4.55H302.925a5.3,5.3,0,0,1,5.226-4.55h9.057A5.293,5.293,0,0,1,322.434,2035.93Zm-14.283-6.07a6.8,6.8,0,0,0-6.472,4.76,23.4,23.4,0,0,0-5.566-.59,6.438,6.438,0,0,0-1.179-3.89l-.311-7.87h18.754l-.32,7.58h-4.906Zm5.472-13.65-.189,4.55h-8.642l.217-4.55Zm-10.123,0-.217,4.55h-8.726l-.18-4.55Zm-12.047,16.84a4.676,4.676,0,0,1-1.01-3.17,3.612,3.612,0,0,1,4.161,4.14c-.17,0-.349,0-.519.01A4.059,4.059,0,0,1,291.453,2033.05Zm10.66,11.98a.759.759,0,0,0-.755.76v3.22a9.8,9.8,0,0,1-15.849-7.77c0-4.81,3.3-5.69,9.812-5.69a23.608,23.608,0,0,1,6.066.56,5.781,5.781,0,0,0-.029.58.765.765,0,0,0,.755.76h1.51v7.58Zm20.378,4.27a1.8,1.8,0,0,1-1.793,1.8H304.66a1.8,1.8,0,0,1-1.792-1.8v-2.75h19.623Z"
                    transform="translate(-4.5 4203.199)" />
                  <path
                    id="Path_5204"
                    data-name="Path 5204"
                    d="M323.245,2045.03h-1.509v-7.58h1.509a.765.765,0,0,0,.755-.76,6.816,6.816,0,0,0-6.792-6.83h-2.642l.6-14.38a.763.763,0,0,0-.208-.56.755.755,0,0,0-.547-.24h-9.33l.217-4.55H314a.76.76,0,0,0,0-1.52h-9.425a.763.763,0,0,0-.754.72l-.255,5.36h-9.981a.755.755,0,0,0-.547.24.763.763,0,0,0-.208.56l.538,13.47a7.838,7.838,0,0,0-3.745-.55.753.753,0,0,0-.661.66c-.019.14-.368,3.27,1.415,5.06.066.05.123.12.189.18-3.717.54-6.566,2.18-6.566,6.93a11.356,11.356,0,0,0,11.321,11.37,11.221,11.221,0,0,0,6.33-1.95,3.3,3.3,0,0,0,3.009,1.95H320.7a3.307,3.307,0,0,0,3.3-3.31v-3.51A.759.759,0,0,0,323.245,2045.03Zm-18.113,0V2042h15.094v3.03Zm15.094-4.55H305.132v-3.03h15.094Zm2.208-4.55H302.925a5.3,5.3,0,0,1,5.226-4.55h9.057A5.293,5.293,0,0,1,322.434,2035.93Zm-14.283-6.07a6.8,6.8,0,0,0-6.472,4.76,23.4,23.4,0,0,0-5.566-.59,6.438,6.438,0,0,0-1.179-3.89l-.311-7.87h18.754l-.32,7.58h-4.906Zm5.472-13.65-.189,4.55h-8.642l.217-4.55Zm-10.123,0-.217,4.55h-8.726l-.18-4.55Zm-12.047,16.84a4.676,4.676,0,0,1-1.01-3.17,3.612,3.612,0,0,1,4.161,4.14c-.17,0-.349,0-.519.01A4.059,4.059,0,0,1,291.453,2033.05Zm10.66,11.98a.759.759,0,0,0-.755.76v3.22a9.8,9.8,0,0,1-15.849-7.77c0-4.81,3.3-5.69,9.812-5.69a23.608,23.608,0,0,1,6.066.56,5.781,5.781,0,0,0-.029.58.765.765,0,0,0,.755.76h1.51v7.58Zm20.378,4.27a1.8,1.8,0,0,1-1.793,1.8H304.66a1.8,1.8,0,0,1-1.792-1.8v-2.75h19.623Z"
                    transform="translate(-4.5 4203.199)" />
                </g>
              </svg>
            </span>
            <h4 class="text-[14px]/[18px] text-woodsmoke">{{ block.settings.title }}</h4>
          </div>
        </li>
      {% endfor %}
    </ul>
    {% if section.settings.button_text != blank %}
      <a
        href="{{ section.settings.button_link }}"
        class="my-6 inline-flex items-center justify-center gap-2 border border-solid border-woodsmoke bg-flame-pea px-7 py-3 text-[16px]/[16px] font-AnekDevanagari-SemiBold leading-normal tracking-normal text-white"
        role="button">{{ section.settings.button_text }}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="11.796"
          height="10.315"
          viewBox="0 0 11.796 10.315">
          <g
            id="Group_8849"
            data-name="Group 8849"
            transform="translate(-215.754 -537.843)">
            <path
              id="Icon_ionic-ios-arrow-forward"
              data-name="Icon ionic-ios-arrow-forward"
              d="M15.366,11.352l-3.9-3.9a.734.734,0,0,1,0-1.041.743.743,0,0,1,1.044,0l4.422,4.419a.736.736,0,0,1,.021,1.016L12.51,16.3a.737.737,0,0,1-1.044-1.041Z"
              transform="translate(204.508 531.646)"
              fill="#fff"></path>
            <path
              id="Icon_ionic-ios-arrow-forward-2"
              data-name="Icon ionic-ios-arrow-forward"
              d="M15.366,11.352l-3.9-3.9a.734.734,0,0,1,0-1.041.743.743,0,0,1,1.044,0l4.422,4.419a.736.736,0,0,1,.021,1.016L12.51,16.3a.737.737,0,0,1-1.044-1.041Z"
              transform="translate(210.406 531.646)"
              fill="#fff"></path>
          </g>
        </svg>
      </a>
    {% endif %}
  </div>
</div>
{% schema %}
  {
    "name": "Card Grid Vedix",
    "class": "section-card-layout",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "info": "Add section heading here"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button text"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "Block",
        "limit": 8,
        "settings": [
          {
            "type": "image_picker",
            "id": "card_image",
            "label": "Image"
          }, {
            "type": "inline_richtext",
            "id": "title",
            "label": "Add image title here"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Card Grid Vedix"
      }
    ]
  }
{% endschema %}