{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- assign featured_collection = section.settings.featured_collection -%}
<div
  class="section-{{ section.id }}-padding"
  style="background-color: {{ section.settings.section_bg }}"
  id="exclusive-descount">
  <div class="container mx-auto px-4">
    <h2 class="mb-7 font-AnekLatin-SemiBold text-[28px]/[32px] text-woodsmoke md:mb-5">
      {{ section.settings.heading }}
    </h2>
    <ul class="grid {% if section.settings.colleciton_grid_view %} grid-cols-2 {% else %} grid-flow-col auto-cols-[11rem] overflow-x-auto -mr-4 md:mr-0 {% endif %} gap-2 md:auto-cols-auto md:grid-flow-row md:grid-cols-5 md:gap-5">
      {%- assign featured_collection_products = featured_collection.products -%}
      {% assign product_count = featured_collection_products | size %}
      {% if product_count > 0 %}
        {%- for card_product in featured_collection_products limit: section.settings.products_to_show -%}
          <li class="relative border border-solid border-spring-wood">
            <div class="block">
              <img
                srcset="
                  {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
                "
                src="{{ card_product.featured_media | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ card_product.featured_media.alt | escape }}"
                class="motion-reduce h-[100%] w-[100%]"
                {% unless lazy_load == false %}
                loading="lazy"
                {% endunless %}
                width="{{ card_product.featured_media.width }}"
                height="{{ card_product.featured_media.height }}">
            </div>
            <div class="flex flex-col">
              {% if section.settings.show_collection_tag != false %}
                {% if card_product.tags != blank %}
                  <span class="mx-1 mt-1 flex items-center justify-center bg-white-lilac px-3 py-2 text-center font-AnekLatin-SemiBold text-[12px]/[16px] text-blue-marguerite">
                    {{- card_product.tags -}}
                  </span>
                {% endif %}
              {% endif %}
              <div class="flex flex-col gap-[10px] p-[14px]">
                <h3 class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke md:text-[18px]/[24px]">
                  {{ card_product.title | truncate: 24 }}
                </h3>
                <div id="rating" class="mb-3 mt-2 flex gap-2">
                  <div class="flex items-center gap-1">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16.667"
                      height="16.66"
                      viewBox="0 0 16.667 16.66">
                      <path
                        id="Path_13649"
                        data-name="Path 13649"
                        d="M110.852,1811.39l1.937-6.33-5.125-3.67H114l2-6.66,2,6.66h6.333l-5.125,3.67,1.938,6.33L116,1807.48Z"
                        transform="translate(-107.664 -1794.73)"
                        fill="#f2c94c" />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16.667"
                      height="16.66"
                      viewBox="0 0 16.667 16.66">
                      <path
                        id="Path_13649"
                        data-name="Path 13649"
                        d="M110.852,1811.39l1.937-6.33-5.125-3.67H114l2-6.66,2,6.66h6.333l-5.125,3.67,1.938,6.33L116,1807.48Z"
                        transform="translate(-107.664 -1794.73)"
                        fill="#f2c94c" />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16.667"
                      height="16.66"
                      viewBox="0 0 16.667 16.66">
                      <path
                        id="Path_13649"
                        data-name="Path 13649"
                        d="M110.852,1811.39l1.937-6.33-5.125-3.67H114l2-6.66,2,6.66h6.333l-5.125,3.67,1.938,6.33L116,1807.48Z"
                        transform="translate(-107.664 -1794.73)"
                        fill="#f2c94c" />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16.667"
                      height="16.66"
                      viewBox="0 0 16.667 16.66">
                      <path
                        id="Path_13649"
                        data-name="Path 13649"
                        d="M110.852,1811.39l1.937-6.33-5.125-3.67H114l2-6.66,2,6.66h6.333l-5.125,3.67,1.938,6.33L116,1807.48Z"
                        transform="translate(-107.664 -1794.73)"
                        fill="#f2c94c" />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16.667"
                      height="16.66"
                      viewBox="0 0 16.667 16.66">
                      <path
                        id="Path_13649"
                        data-name="Path 13649"
                        d="M110.852,1811.39l1.937-6.33-5.125-3.67H114l2-6.66,2,6.66h6.333l-5.125,3.67,1.938,6.33L116,1807.48Z"
                        transform="translate(-107.664 -1794.73)"
                        fill="#f2c94c" />
                    </svg>
                  </div>
                  <span class="text-[14px]/[22px] text-woodsmoke text-opacity-40">(49)</span>
                </div>
                <div class="flex items-center gap-2">
                  <div class="flex gap-1">
                    <p class="truncate font-AnekLatin-SemiBold text-[20px]/[22px] text-woodsmoke">
                      {{ card_product.price | money | remove: '.00' }}
                    </p>
                    <p class="truncate font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke text-opacity-50 line-through">
                      {{ card_product.compare_at_price | money | remove: '.00' }}
                    </p>
                  </div>
                  <span class="font-AnekLatin-SemiBold text-[12px]/[22px] text-blue-marguerite md:text-[13px]/[22px]">22% OFF</span>
                </div>
                <a
                  href="{{ card_product.url }}"
                  class="btn w-full min-w-fit"
                  role="button">
                  <span class="mb-[-2px] mt-[2px]">ADD TO CART</span>
                </a>
              </div>
            </div>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
    <ul id="carouselDots" class="flex gap-[5px] mt-8 justify-center items-center">
      <li class="w-[7px] h-[7px] bg-cape-palliser rounded-full"></li>
      <li class="w-[7px] h-[7px] bg-almond rounded-full"></li>
      <li class="w-[7px] h-[7px] bg-almond rounded-full"></li>
    </ul>
  </div>
</div>
{% schema %}
  {
    "name": "Combo collection",
    "class": "section-generic-product",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "id": "section_bg",
        "label": "Background color",
        "default": "#FFFFFF"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Lorem Ipsum is simply dummy text"
      },
      {
        "type": "header",
        "content": "Featured Collection Info"
      },
      {
        "type": "checkbox",
        "id": "colleciton_grid_view",
        "label": "Colleciton grid view",
        "default": false
      }, {
        "type": "checkbox",
        "id": "show_collection_tag",
        "label": "Show Collection Tag",
        "default": false
      }, {
        "type": "collection",
        "id": "featured_collection",
        "label": "Featured Collection"
      }, {
        "type": "range",
        "id": "products_to_show",
        "min": 2,
        "max": 25,
        "step": 1,
        "default": 2,
        "label": "t:sections.featured-collection.settings.products_to_show.label"
      }, {
        "type": "checkbox",
        "id": "show_product_label",
        "label": "Show Product Label",
        "default": false
      }, {
        "type": "header",
        "content": "Padding"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 60
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 60
      }
    ],
    "presets": [
      {
        "name": "Combo collection"
      }
    ]
  }
{% endschema %}