{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding" style="background-color: {{- section.settings.bg_color -}}">
  <div class="container mx-auto px-4">
    <div class="text-center">
      <h2 class="font-AnekLatin-Bold text-[24px]/[30px] uppercase text-woodsmoke md:text-[42px]/[30px]">
        {{ section.settings.heading }}
      </h2>
      <p class="mb-[40px] mt-[20px] font-AnekLatin-Medium text-[16px]/[18px] text-woodsmoke">
        {{ section.settings.text }}
      </p>
      <div class="m-auto max-w-[590px]">
        <div class="grid grid-cols-1 gap-7 sm:grid-cols-2 md:grid-cols-2 md:gap-10">
          {%- for block in section.blocks -%}
            <div class="flex flex-col">
              <div class="flex items-center justify-center gap-3 md:gap-4">
                <div class="text-[35px]/[30px] text-woodsmoke md:font-AnekLatin-Bold">
                  {{ block.settings.avg_rating }}
                </div>
                <div class="flex flex-col items-start">
                  {% assign star_count = block.settings.star %}
                  <div class="flex items-center gap-[5px]">
                    {% for i in (1..star_count) %}
                      {% render 'star' %}
                    {% endfor %}
                  </div>
                  <div class="text-[18px]/[30px] text-woodsmoke">
                    {{ block.settings.title }}
                  </div>
                </div>
              </div>
              <div class="mt-[10px]">
                <a
                  href="{{ block.settings.link }}"
                  class="inline-flex items-center justify-center gap-4 bg-woodsmoke px-[40px] py-4 text-center font-AnekLatin-SemiBold text-[18px]/[16px] uppercase text-white shadow-[0px_3px_6px_#00000029] md:flex"
                >
                  {%- assign icon = block.settings.icon -%}
                  {% if icon != blank %}
                    {{ icon | image_url: width: icon.width | image_tag: class: 'h-[16px] w-[14px]', loading: 'lazy' }}
                  {% endif %}
                  {{ block.settings.button_text }}
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Download Apps",
  "class": "section-download-apps",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "BG Color",
      "default": "#F7EEDE"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Section Heading"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Lorem ipsum dolor sit amet."
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "name": "Apps",
      "type": "apps",
      "settings": [
        {
          "type": "text",
          "id": "avg_rating",
          "label": "Avg Rating",
          "default": "4.8"
        },
        {
          "type": "range",
          "id": "star",
          "label": "Star",
          "min": 1,
          "max": 5,
          "step": 1,
          "default": 5
        },
        {
          "type": "text",
          "id": "title",
          "label": "Text",
          "default": "Store name"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Button Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Download Apps"
    }
  ]
}
{% endschema %}
