{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="bg-padua section-{{ section.id }}-padding">
  <div class="container mx-auto px-4">
    <div class="mx-auto max-w-[786px] text-left md:text-center">
      <div class="no-scrollbar::-webkit-scrollbar no-scrollbar flex justify-start gap-8 overflow-x-auto pl-5 md:justify-center">
        {% for block in section.blocks %}
          <img
            src="{{ block.settings.image |  img_url: 'master' }}"
            width="{{ block.settings.image.width }}"
            height="{{ block.settings.image.height }}"
            loading="lazy"
            alt="{{ block.settings.image.alt }}"
          >
        {% endfor %}
      </div>
      <div class="pt-4 font-AnekLatin-SemiBold text-[14px]/[20px] text-woodsmoke opacity-70">
        {{ section.settings.info }}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Hair regimen",
  "class": "section-hair-regimen",
  "tag": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "info",
      "label": "Information",
      "default": "<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "name": "Images",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hair regimen"
    }
  ]
}
{% endschema %}
