<header
  id="header"
  class="relative bg-quarter-spanish-white py-[24px] md:py-[0]"
  style="background-color:{{ section.settings.section_bg }};"
>
  <div class="container mx-auto px-4">
    <nav class="flex items-center justify-between">
      <div class="flex items-center gap-x-[15px]">
        <a href="javascript:void(0)" class="md:hidden">
          <svg
            id="toggle-drawer-menu"
            xmlns="http://www.w3.org/2000/svg"
            width="26.667"
            height="18.752"
            viewBox="0 0 26.667 18.752"
          >
            <path id="Path_10182" data-name="Path 10182" d="M20.664,22A1.333,1.333,0,0,1,22,20.666H46a1.333,1.333,0,1,1,0,2.667H22A1.333,1.333,0,0,1,20.664,22Zm0,8.043A1.333,1.333,0,0,1,22,28.709H46a1.333,1.333,0,1,1,0,2.667H22a1.333,1.333,0,0,1-1.333-1.333ZM22,36.751a1.333,1.333,0,1,0,0,2.667H46a1.333,1.333,0,0,0,0-2.667Z" transform="translate(-20.664 -20.666)"/>
          </svg>
          <svg
            id="close-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="26.667"
            height="18.752"
            viewBox="0 0 17.26 17.26"
            class="hidden"
          >
            <path id="Path_13102" data-name="Path 13102" d="M340.333,335.333l-14.667-14.667m14.667,0-14.667,14.667" transform="translate(-324.37 -319.37)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="1.833"/>
          </svg>
        </a>
        {%- assign logo = section.settings.logo -%}
        <a href="{{ shop.url }}">
          {% if logo != blank %}
            {{ logo | image_url: width: logo.width | image_tag: class: 'logo', loading: 'lazy' }}
          {% else %}
            <svg
              id="logo"
              xmlns="http://www.w3.org/2000/svg"
              width="110.773"
              height="26.775"
              viewBox="0 0 110.773 26.775"
            >
              <g id="Group_5" data-name="Group 5" transform="translate(0 0.186)">
                  <path id="Path_5" data-name="Path 5" d="M340.755,101.01l-4.184-5.849-4.325,5.849H326.22l7.338-9.608-7.089-9.465h6.2l4.042,5.565,4.147-5.565h5.885l-7.089,9.323,7.374,9.749Z" transform="translate(-249.05 -74.705)" fill="#313133"/>
                  <path id="Path_6" data-name="Path 6" d="M295.585,81.938l-8.048,19.072h-5.708l-8.011-19.072h5.708l5.282,12.976,5.459-12.976Z" transform="translate(-273.818 -74.705)" fill="#313133"/>
                  <path id="Path_7" data-name="Path 7" d="M308.328,93.124H293.9a4.494,4.494,0,0,0,1.844,2.8,6.1,6.1,0,0,0,3.615,1.028A7.35,7.35,0,0,0,302,96.511a6.415,6.415,0,0,0,2.144-1.4l2.942,3.19q-2.695,3.084-7.87,3.085a12.447,12.447,0,0,1-5.708-1.259,9.225,9.225,0,0,1-3.829-3.492,9.617,9.617,0,0,1-1.346-5.07,9.758,9.758,0,0,1,1.328-5.051A9.322,9.322,0,0,1,293.315,83a11.3,11.3,0,0,1,10.263-.053,8.8,8.8,0,0,1,3.562,3.456,10.305,10.305,0,0,1,1.294,5.229Q308.434,91.743,308.328,93.124Zm-12.94-6.132a4.523,4.523,0,0,0-1.56,2.907h9.394a4.568,4.568,0,0,0-1.56-2.889,4.666,4.666,0,0,0-3.119-1.081A4.768,4.768,0,0,0,295.388,86.992Z" transform="translate(-266.957 -74.797)" fill="#313133"/>
                  <path id="Path_8" data-name="Path 8" d="M323.865,77.027v26.3h-5.282v-2.2a7.291,7.291,0,0,1-5.955,2.483,9.9,9.9,0,0,1-4.875-1.206,8.618,8.618,0,0,1-3.421-3.439,11.41,11.41,0,0,1,0-10.351,8.627,8.627,0,0,1,3.421-3.439,9.9,9.9,0,0,1,4.875-1.206,7.257,7.257,0,0,1,5.708,2.3V77.027Zm-6.807,20.614a6.04,6.04,0,0,0,0-7.692,4.963,4.963,0,0,0-6.983,0,6.039,6.039,0,0,0,0,7.692,4.963,4.963,0,0,0,6.983,0Z" transform="translate(-259.982 -77.027)" fill="#313133"/>
                  <rect id="Rectangle_7" data-name="Rectangle 7" width="5.53" height="19.073" transform="translate(68.278 7.232)" fill="#313133"/>
                  <rect id="Rectangle_8" data-name="Rectangle 8" width="5.53" height="3.708" transform="translate(68.278)" fill="#313133"/>
                  <rect id="Rectangle_9" data-name="Rectangle 9" width="8.998" height="3.708" transform="translate(26.928)" fill="#313133"/>
              </g>
              <text id="TM" transform="translate(100.773 6)" fill="#313133" font-size="6" font-family="Montserrat-SemiBold, Montserrat" font-weight="600" letter-spacing="0.08em"><tspan x="0" y="0">TM</tspan></text>
            </svg>
          {% endif %}
        </a>
        <ul class="hidden items-center gap-x-[20px] space-x-4 md:flex">
          <li class="group static py-[24px]">
            <a class="flex cursor-pointer items-center gap-x-2 font-AnekLatin-Medium text-[18px]/[22px] text-woodsmoke focus:outline-none">
              Custom Products
              <svg
                class="transform transition-transform group-hover:rotate-180"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path d="M6 9L12 15L18 9" stroke="#131818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
            <div
              id="mega-menu-element-1"
              class="absolute left-0 right-0 top-full z-50 hidden w-full bg-linen group-hover:block"
            >
              <div class="container mx-auto px-4">
                <div class="relative flex justify-between">
                  <div class="flex flex-col items-start py-[20px]">
                    <ul class="flex flex-col gap-y-[20px]">
                      <li>
                        <a
                          href="#"
                          class="flex items-center gap-[10px] font-AnekLatin-Medium text-[18px]/[22px] text-woodsmoke"
                        >
                          <div class="h-[30px] w-[30px] rounded-full border bg-white"></div>
                          Hair Care</a
                        >
                      </li>
                      <li>
                        <a
                          href="#"
                          class="flex items-center gap-[10px] font-AnekLatin-Medium text-[18px]/[22px] text-woodsmoke"
                        >
                          <div class="h-[30px] w-[30px] rounded-full border bg-white"></div>
                          Skin Care</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="bg-almond px-[60px] py-[30px]">
                    <div class="border-1 flex flex-col items-center justify-center rounded-md border border-tan bg-linen px-[20px] py-[30px]">
                      <h3 class="mb-2 font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke md:text-[20px]/[26px]">
                        {{ section.settings.heading }}
                      </h3>
                      <p class="mb-2 text-[14px]/[36px] text-woodsmoke">{{ section.settings.text }}</p>
                      <div class="flex w-full flex-col items-center gap-y-[10px]">
                        {% if section.settings.button_1_text != blank %}
                          <a
                            href="{{ section.settings.button_1_link }}"
                            class="border-1 inline-flex w-full items-center justify-center border border-woodsmoke bg-flame-pea py-[16px] font-AnekLatin-SemiBold text-[16px]/[24px] text-white"
                          >
                            {{ section.settings.button_1_text }}
                          </a>
                        {% endif %}
                        {% if section.settings.button_2_text != blank %}
                          <a
                            href="{{ section.settings.button_2_link }} "
                            class="border-1 inline-flex w-full items-center justify-center border border-woodsmoke bg-flame-pea py-[16px] font-AnekLatin-SemiBold text-[16px]/[24px] text-white"
                          >
                            {{ section.settings.button_2_text }}
                          </a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="group static py-[24px] ">
            <a class="flex cursor-pointer items-center gap-x-2 font-AnekLatin-Medium text-[18px]/[22px] text-woodsmoke focus:outline-none">
              Why Vedix
              <svg
                class="transform transition-transform group-hover:rotate-180"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path d="M6 9L12 15L18 9" stroke="#131818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
            <div class="absolute left-0 right-0 top-full z-50 hidden w-full bg-linen group-hover:block">
              <div class="container mx-auto px-4">
                <div class="flex flex-col items-start py-[20px]">
                  <ul class="flex flex-col gap-y-[20px]">
                    <li>
                      <a
                        href="#"
                        class="flex items-center gap-[10px] font-AnekLatin-Medium text-[18px]/[22px] text-woodsmoke"
                      >
                        <div class="h-[30px] w-[30px] rounded-full border bg-white"></div>
                        Hair Care</a
                      >
                    </li>
                    <li>
                      <a
                        href="#"
                        class="flex items-center gap-[10px] font-AnekLatin-Medium text-[18px]/[22px] text-woodsmoke"
                      >
                        <div class="h-[30px] w-[30px] rounded-full border bg-white"></div>
                        Skin Care</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="group static py-[24px]">
            <a href="#" class="font-AnekLatin-Medium text-[18px]/[22px] text-woodsmoke">The Science</a>
          </li>
          <li class="group static py-[24px]">
            <a href="#" class="font-AnekLatin-Medium text-[18px]/[22px] text-woodsmoke">Reviews</a>
          </li>
          <li class="group static py-[24px]">
            <a href="#" class="font-AnekLatin-Medium text-[18px]/[22px] text-woodsmoke">Blog</a>
          </li>
        </ul>
      </div>
      <div id="social-icons">
        <ul class="hidden items-center gap-x-[32px] md:flex">
          <li>
            <a href="">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="#131818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M21 21L16.65 16.65" stroke="#131818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="" class="font-AnekLatin-Medium text-[18px]/[22px] text-woodsmoke">FAQ’S</a>
          </li>
          <li>
            <a href="">
              <svg xmlns="http://www.w3.org/2000/svg" width="19.6" height="19.975" viewBox="0 0 19.6 19.975">
                <path id="Path_12329" data-name="Path 12329" d="M36.676,133.975a1.723,1.723,0,0,1-1.27-.53,1.749,1.749,0,0,1-.525-1.275,1.721,1.721,0,0,1,.53-1.27,1.747,1.747,0,0,1,1.275-.525,1.723,1.723,0,0,1,1.27.53,1.749,1.749,0,0,1,.525,1.275,1.721,1.721,0,0,1-.53,1.27A1.747,1.747,0,0,1,36.676,133.975Zm10,0a1.723,1.723,0,0,1-1.27-.53,1.749,1.749,0,0,1-.525-1.275,1.721,1.721,0,0,1,.53-1.27,1.747,1.747,0,0,1,1.275-.525,1.723,1.723,0,0,1,1.27.53,1.749,1.749,0,0,1,.525,1.275,1.721,1.721,0,0,1-.53,1.27A1.747,1.747,0,0,1,46.676,133.975Zm-11.295-16.5,2.75,5.7h7.2l3.125-5.7Zm-.75-1.5H49.358a.952.952,0,0,1,.874.525,1,1,0,0,1,0,1.05l-3.375,6.075a2.223,2.223,0,0,1-.714.762,1.717,1.717,0,0,1-.961.288H37.606l-1.4,2.6H48.481v1.5H36.431a1.677,1.677,0,0,1-1.513-.7,1.438,1.438,0,0,1,.013-1.575l1.6-2.95-3.8-8.05h-1.95V114h2.925Z" transform="translate(-30.781 -114)"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21" stroke="#131818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z" stroke="#131818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
          </li>
        </ul>
        <ul class="flex items-center gap-x-[20px] md:hidden">
          <li>
            <a href="">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="#131818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M21 21L16.65 16.65" stroke="#131818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg xmlns="http://www.w3.org/2000/svg" width="19.6" height="19.975" viewBox="0 0 19.6 19.975">
                <path id="Path_12329" data-name="Path 12329" d="M36.676,133.975a1.723,1.723,0,0,1-1.27-.53,1.749,1.749,0,0,1-.525-1.275,1.721,1.721,0,0,1,.53-1.27,1.747,1.747,0,0,1,1.275-.525,1.723,1.723,0,0,1,1.27.53,1.749,1.749,0,0,1,.525,1.275,1.721,1.721,0,0,1-.53,1.27A1.747,1.747,0,0,1,36.676,133.975Zm10,0a1.723,1.723,0,0,1-1.27-.53,1.749,1.749,0,0,1-.525-1.275,1.721,1.721,0,0,1,.53-1.27,1.747,1.747,0,0,1,1.275-.525,1.723,1.723,0,0,1,1.27.53,1.749,1.749,0,0,1,.525,1.275,1.721,1.721,0,0,1-.53,1.27A1.747,1.747,0,0,1,46.676,133.975Zm-11.295-16.5,2.75,5.7h7.2l3.125-5.7Zm-.75-1.5H49.358a.952.952,0,0,1,.874.525,1,1,0,0,1,0,1.05l-3.375,6.075a2.223,2.223,0,0,1-.714.762,1.717,1.717,0,0,1-.961.288H37.606l-1.4,2.6H48.481v1.5H36.431a1.677,1.677,0,0,1-1.513-.7,1.438,1.438,0,0,1,.013-1.575l1.6-2.95-3.8-8.05h-1.95V114h2.925Z" transform="translate(-30.781 -114)"></path>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21" stroke="#131818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z" stroke="#131818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<header-drawer
  id="header-drawer"
  class="hidden pb-[100px] md:hidden"
  style="background-color:{{ section.settings.bg_color }};"
>
  <div class="container mx-auto px-4">
    <div>
      <ul class="flex flex-col">
        <li class="group relative border border-b-[0.5px] border-l-0 border-r-0 border-t-0 border-almond py-[24px]">
          <div class="flex items-center justify-between">
            <a href="#" class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke">Custom Products</a>
            <span class="plus cursor-pointer" onclick="toggleDropdown()">
              <svg xmlns="http://www.w3.org/2000/svg" width="17.536" height="17.536" viewBox="0 0 17.536 17.536">
                <path id="Path_13105" data-name="Path 13105" d="M335.473,330.473l-9.807-9.807m9.807,0-9.807,9.807" transform="translate(5.233 -455.192) rotate(45)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="1.833" />
              </svg>
            </span>
            <span class="minus hidden cursor-pointer " onclick="toggleDropdown()">
              <svg
                id="close-icon"
                xmlns="http://www.w3.org/2000/svg"
                width="17.536"
                height="17.536"
                viewBox="0 0 17.26 17.26"
              >
                <path id="Path_13102" data-name="Path 13102" d="M340.333,335.333l-14.667-14.667m14.667,0-14.667,14.667" transform="translate(-324.37 -319.37)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="1.833" />
              </svg>
            </span>
          </div>
          <div class="dropdown-menu hidden">
            <ul>
              <li class="border border-b-[0.5px] border-l-0 border-r-0 border-t-0 border-almond py-[24px]">
                <a
                  href="#"
                  class="flex items-center gap-x-[10px] font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke"
                >
                  <div class="h-[30px] w-[30px] rounded-full border bg-quarter-spanish-white"></div>
                  Hair Care
                </a>
              </li>
              <li class="pt-[24px]">
                <a
                  href="#"
                  class="flex items-center gap-x-[10px] font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke"
                >
                  <div class="h-[30px] w-[30px] rounded-full border bg-quarter-spanish-white"></div>
                  Skin Care
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="flex items-center justify-between border border-b-[0.5px] border-l-0 border-r-0 border-t-0 border-almond py-[24px]">
          <a href="#" class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke">Why Vedix</a>
        </li>
        <li class="flex items-center justify-between border border-b-[0.5px] border-l-0 border-r-0 border-t-0 border-almond py-[24px]">
          <a href="#" class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke">About us</a>
        </li>
        <li class="flex items-center justify-between border border-b-[0.5px] border-l-0 border-r-0 border-t-0 border-almond py-[24px]">
          <a href="#" class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke">Customer Reviews</a>
        </li>
        <li class="flex items-center justify-between border border-b-[0.5px] border-l-0 border-r-0 border-t-0 border-almond py-[24px]">
          <a href="#" class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke">Blog</a>
        </li>
        <li class="flex items-center justify-between border border-b-[0.5px] border-l-0 border-r-0 border-t-0 border-almond py-[24px]">
          <a href="#" class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke">FAQ’S</a>
        </li>
      </ul>
      <div class="mt-[60px] bg-almond px-[20px] py-[32px]">
        <div class="border-1 flex flex-col items-center justify-center rounded-md border border-tan bg-linen px-[15px] py-[30px]">
          <h3 class="mb-2 font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke md:text-[20px]/[26px]">
            {{ section.settings.heading }}
          </h3>
          <p class="mb-2 text-[14px]/[36px] text-woodsmoke">{{ section.settings.text }}</p>
          <div class="flex w-full flex-col items-center gap-y-[10px]">
            {% if section.settings.button_1_text != blank %}
              <a
                href="{{ section.settings.button_1_link }}"
                class="border-1 inline-flex w-full items-center justify-center border border-woodsmoke bg-flame-pea py-[16px] font-AnekLatin-SemiBold text-[16px]/[24px] text-white"
              >
                {{ section.settings.button_1_text }}
              </a>
            {% endif %}
            {% if section.settings.button_2_text != blank %}
              <a
                href="{{ section.settings.button_2_link }} "
                class="border-1 inline-flex w-full items-center justify-center border border-woodsmoke bg-flame-pea py-[16px] font-AnekLatin-SemiBold text-[16px]/[24px] text-white"
              >
                {{ section.settings.button_2_text }}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header-drawer>
<script>
  document.getElementById('toggle-drawer-menu').addEventListener('click', function () {
    this.style.display = 'none'
    document.getElementById('close-icon').style.display = 'inline-block'
    document.getElementById('header-drawer').style.display = 'block'
  })

  document.getElementById('close-icon').addEventListener('click', function () {
    this.style.display = 'none'
    document.getElementById('toggle-drawer-menu').style.display = 'inline-block'
    document.getElementById('header-drawer').style.display = 'none'
  })

  function toggleDropdown() {
    var dropdown = document.querySelector('.dropdown-menu')
    var plusIcon = document.querySelector('.plus')
    var minusIcon = document.querySelector('.minus')

    if (dropdown.classList.contains('hidden')) {
      // Show dropdown and hide plus icon, show minus icon
      dropdown.classList.remove('hidden')
      plusIcon.classList.add('hidden')
      minusIcon.classList.remove('hidden')
    } else {
      // Hide dropdown and show plus icon, hide minus icon
      dropdown.classList.add('hidden')
      plusIcon.classList.remove('hidden')
      minusIcon.classList.add('hidden')
    }
  }
</script>
{% schema %}
{
  "name": "Header",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "section_bg",
      "label": "Background color",
      "default": "#F7EEDF"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "header",
      "content": "CTA"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Lorem Ipsum is simply dummy text"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Start with 1 minute quiz"
    },
    {
      "type": "text",
      "id": "button_1_text",
      "label": "Button text 1",
      "default": "Button text 1"
    },
    {
      "type": "url",
      "id": "button_1_link",
      "label": "Button 1 Link"
    },
    {
      "type": "text",
      "id": "button_2_text",
      "label": "Button text 2",
      "default": "Button text"
    },
    {
      "type": "url",
      "id": "button_2_link",
      "label": "Button 2 Link"
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}
