{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  class="bg-cover bg-center bg-no-repeat section-{{ section.id }}-padding"
  {% if section.settings.bg_banner != blank %}
    style="background-image:url({{ section.settings.bg_banner |  img_url: 'master' }});"
  {% endif %}
>
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-center max-w-[320px] mx-auto">
      {% if section.settings.placeholder_image != blank %}
        <img
          src="{{ section.settings.placeholder_image |  img_url: 'master' }}"
          width="{{ section.settings.placeholder_image.width }}"
          height="{{ section.settings.placeholder_image.height }}"
          loading="lazy"
          alt="{{ section.settings.placeholder_image.alt }}"
        >
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg w-full h-full' }}
      {% endif %}
    </div>
    <div class="mx-auto my-10 max-w-[344px] border border-solid border-woodsmoke bg-white text-center">
      <div class="border-b border-solid border-woodsmoke px-4 py-5">
        <h2 class="font-AnekLatin-Bold text-[24px]/[28px] text-woodsmoke">{{ section.settings.heading }}</h2>
      </div>
      <div class="border-b border-solid border-woodsmoke px-4 py-5 text-center font-AnekLatin-Medium text-[16px]/[20px] text-woodsmoke">
        {{ section.settings.description }}
      </div>
      <ul class="flex flex-wrap items-center justify-center gap-x-[20px] gap-y-[20px] px-4 py-5">
        {% for block in section.blocks %}
          <li class="flex w-1/4 flex-col items-center justify-center gap-3">
            {% if block.settings.icon != blank %}
              <img
                src="{{ block.settings.icon |  img_url: 'master' }}"
                width="{{ block.settings.icon.width }}"
                height="{{ block.settings.icon.height }}"
                loading="lazy"
                alt="{{ block.settings.icon.alt }}"
              >
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg w-full h-full' }}
            {% endif %}
            <p class="font-AnekLatin-Medium text-[14px]/[18px] text-woodsmoke">{{ block.settings.icon_description }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Membership Banner",
  "class": "section-membership-banner",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_banner",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "placeholder_image",
      "label": "Placeholder Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Lorem Ipsum is simply dummy text"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Block",
      "limit": 6,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon image"
        },
        {
          "type": "text",
          "id": "icon_description",
          "label": "Description",
          "default": "Lorem Ipsum is simply dummy text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Membership Banner"
    }
  ]
}
{% endschema %}
