<div
  id="order-summary"
  class="pb-[20px] pt-[60px]"
  style="background-color: {{- section.settings.section_bg -}};"
>
  <div class="container mx-auto px-4">
    <div class="flex flex-col-reverse gap-5 md:flex-row">
      <div class="w-full md:w-2/3 lg:w-3/5">
        <div class="mb-[20px] border-none bg-transparent p-[24px] md:border md:border-solid md:border-de-york md:bg-white">
          <div id="summery" class="flex flex-col items-center gap-x-4 md:flex-row">
            <div class="icon-img">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="41.618"
                height="41.619"
                viewBox="0 0 41.618 41.619"
              >
                <g
                  id="Group_9084"
                  data-name="Group 9084"
                  transform="translate(4586.812 -460.25)">
                  <path
                    id="Path_10188"
                    data-name="Path 10188"
                    d="M192.039,211.307a4,4,0,0,1,5.916,0l2.04,2.24a4,4,0,0,0,3.144,1.3l3.026-.14a4,4,0,0,1,4.184,4.18l-.142,3.028a4,4,0,0,0,1.3,3.144l2.24,2.04a4,4,0,0,1,0,5.916l-2.24,2.04a4,4,0,0,0-1.3,3.144l.14,3.026a4,4,0,0,1-4.18,4.184l-3.028-.142a4,4,0,0,0-3.144,1.3l-2.04,2.24a4,4,0,0,1-5.916,0l-2.04-2.24a4,4,0,0,0-3.144-1.3l-3.026.14a4,4,0,0,1-4.184-4.18l.142-3.028a4,4,0,0,0-1.3-3.144l-2.24-2.04a4,4,0,0,1,0-5.916l2.24-2.04a4,4,0,0,0,1.3-3.144l-.14-3.026a4,4,0,0,1,4.18-4.184l3.028.142a4,4,0,0,0,3.144-1.3Z"
                    transform="translate(-4761 251)"
                    fill="#8bc292"
                    stroke="#8bc292"
                    stroke-width="1.5" />
                  <path
                    id="Path_10189"
                    data-name="Path 10189"
                    d="M189,230.059l4,4,8-8"
                    transform="translate(-4761 251)"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5" />
                </g>
              </svg>
            </div>
            <div class="text-center md:text-left">
              <h2 class="mb-2 font-AnekLatin-Bold text-[16px]/[22px] text-de-york md:text-[24px]/[22px]">
                Order Confirmed
              </h2>
              <p class="text-[16px]/[22px] text-woodsmoke">
                You should receive the order in 3-5 business dats. You’ll reveive an order tracking link via SMS & Email
                shortly.
              </p>
            </div>
          </div>
        </div>
        <div class="flex flex-col border border-solid border-quarter-spanish-white bg-white px-[20px] pb-0 pt-[30px] md:py-[60px]">
          <div class="flex flex-col gap-4">
            <div class="flex flex-col items-start justify-between md:flex-row md:items-center">
              <div class="flex w-full flex-row-reverse items-baseline justify-between md:w-auto md:flex-col">
                <p class="mb-[7px] text-[12px]/[18px] text-woodsmoke opacity-50">Order #115122</p>
                <h2 class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke md:text-[20px]/[22px]">
                  Order Status
                </h2>
              </div>
              <h2 class="text-[14px]/[18px] text-woodsmoke md:text-[16px]/[18px]">
                Estimate Delivery:
                <span class="font-AnekLatin-SemiBold">Oct 23, 2023</span>
              </h2>
            </div>
            <p class="mb-[7px] text-[12px]/[18px] text-woodsmoke opacity-50 md:text-[14px]/[18px]">
              Your order is placed and confirmed
            </p>
          </div>
          <div id="order-status" class="mt-[15px]">
            <div class="flex items-center gap-x-[10px]">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                >
                  <g
                    id="Group_8781"
                    data-name="Group 8781"
                    transform="translate(4718.5 -770)">
                    <path
                      id="Path_10196"
                      data-name="Path 10196"
                      d="M42.5,519.059h40v40h-40Z"
                      transform="translate(-4761 250.941)"
                      fill="#8bc292" />
                    <path
                      id="Path_10197"
                      data-name="Path 10197"
                      d="M49.25,534.875l6.183,6.183L67.8,527.809"
                      transform="translate(-4757.274 255.816)"
                      fill="none"
                      stroke="#fff"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5" />
                  </g>
                </svg>
              </div>
              <div>
                <p class="font-AnekLatin-Medium text-[12px]/[18px] text-woodsmoke md:text-[16px]/[18px]">
                  Order Confirmed
                  <span class="font-AnekLatin-SemiBold">Mon, 9 Oct</span>
                </p>
              </div>
            </div>
            <div class="ml-[20px] flex h-[36px] w-[3px] justify-around bg-black"></div>
            <div class="flex items-center gap-x-[10px]">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                >
                  <g
                    id="Group_9086"
                    data-name="Group 9086"
                    transform="translate(4718.5 -770)">
                    <path
                      id="Path_10196"
                      data-name="Path 10196"
                      d="M42.5,519.059h40v40h-40Z"
                      transform="translate(-4761 250.941)"
                      fill="#d1dada" />
                    <path
                      id="Path_10197"
                      data-name="Path 10197"
                      d="M49.25,534.875l6.183,6.183L67.8,527.809"
                      transform="translate(-4757.274 255.816)"
                      fill="none" />
                  </g>
                </svg>
              </div>
              <div>
                <p class="font-AnekLatin-Medium text-[12px]/[18px] text-woodsmoke md:text-[16px]/[18px]">
                  Order Packed, Estimate Date 9 Oct
                </p>
              </div>
            </div>
            <div class="bg-gray-200 ml-[20px] flex h-[36px] w-[3px]"></div>
            <div class="flex items-center gap-x-[10px]">
              <div class="flex">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                >
                  <g
                    id="Group_9086"
                    data-name="Group 9086"
                    transform="translate(4718.5 -770)">
                    <path
                      id="Path_10196"
                      data-name="Path 10196"
                      d="M42.5,519.059h40v40h-40Z"
                      transform="translate(-4761 250.941)"
                      fill="#d1dada" />
                    <path
                      id="Path_10197"
                      data-name="Path 10197"
                      d="M49.25,534.875l6.183,6.183L67.8,527.809"
                      transform="translate(-4757.274 255.816)"
                      fill="none" />
                  </g>
                </svg>
              </div>
              <div>
                <p class="font-AnekLatin-Medium text-[12px]/[18px] text-woodsmoke md:text-[16px]/[18px]">
                  Order Shipped
                </p>
              </div>
            </div>
            <div class="bg-gray-200 ml-[20px] flex h-[36px] w-[3px]"></div>
            <div class="flex items-center gap-x-[10px]">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                >
                  <g
                    id="Group_9086"
                    data-name="Group 9086"
                    transform="translate(4718.5 -770)">
                    <path
                      id="Path_10196"
                      data-name="Path 10196"
                      d="M42.5,519.059h40v40h-40Z"
                      transform="translate(-4761 250.941)"
                      fill="#d1dada" />
                    <path
                      id="Path_10197"
                      data-name="Path 10197"
                      d="M49.25,534.875l6.183,6.183L67.8,527.809"
                      transform="translate(-4757.274 255.816)"
                      fill="none" />
                  </g>
                </svg>
              </div>
              <div>
                <p class="font-AnekLatin-Medium text-[12px]/[18px] text-woodsmoke md:text-[16px]/[18px]">
                  Estimate Delivery
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/3 lg:w-2/5">
        <div id="pricing" class="mb-[20px] border border-solid border-quarter-spanish-white bg-white p-[20px]">
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-x-[20px]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="19.6"
                height="19.975"
                viewBox="0 0 19.6 19.975"
              >
                <path
                  id="Path_12329"
                  data-name="Path 12329"
                  d="M36.676,133.975a1.723,1.723,0,0,1-1.27-.53,1.749,1.749,0,0,1-.525-1.275,1.721,1.721,0,0,1,.53-1.27,1.747,1.747,0,0,1,1.275-.525,1.723,1.723,0,0,1,1.27.53,1.749,1.749,0,0,1,.525,1.275,1.721,1.721,0,0,1-.53,1.27A1.747,1.747,0,0,1,36.676,133.975Zm10,0a1.723,1.723,0,0,1-1.27-.53,1.749,1.749,0,0,1-.525-1.275,1.721,1.721,0,0,1,.53-1.27,1.747,1.747,0,0,1,1.275-.525,1.723,1.723,0,0,1,1.27.53,1.749,1.749,0,0,1,.525,1.275,1.721,1.721,0,0,1-.53,1.27A1.747,1.747,0,0,1,46.676,133.975Zm-11.295-16.5,2.75,5.7h7.2l3.125-5.7Zm-.75-1.5H49.358a.952.952,0,0,1,.874.525,1,1,0,0,1,0,1.05l-3.375,6.075a2.223,2.223,0,0,1-.714.762,1.717,1.717,0,0,1-.961.288H37.606l-1.4,2.6H48.481v1.5H36.431a1.677,1.677,0,0,1-1.513-.7,1.438,1.438,0,0,1,.013-1.575l1.6-2.95-3.8-8.05h-1.95V114h2.925Z"
                  transform="translate(-30.781 -114)" />
              </svg>
              <div class="flex items-center gap-[10px]">
                <h3 class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke md:text-[20px]/[22px]">
                  Order Summary
                </h3>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="14.121"
                  height="7.811"
                  viewBox="0 0 14.121 7.811"
                  class="block lg:hidden"
                >
                  <path
                    id="Path_10552"
                    data-name="Path 10552"
                    d="M197.5,121l-6,6-6-6"
                    transform="translate(-184.439 -119.939)"
                    fill="none"
                    stroke="rgba(0,0,0,0.8)"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5" />
                </svg>
              </div>
            </div>
            <div class="">
              <h3 class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke md:text-[20px]/[22px]">₹1009</h3>
            </div>
          </div>
          <div id="product-list" class="product-list mt-[40px]">
            <div class="product-list__item mb-[60px] flex items-start gap-[20px]">
              <div class="max-h-[60px] max-w-[60px]">
                <img src="https://picsum.photos/60/60" alt="">
              </div>
              <div class="">
                <h3 class="mb-[8px] font-AnekLatin-SemiBold text-[16px]/[18px] text-woodsmoke">
                  Vedix Customised Ayurvedic Hair Care Regimen
                </h3>
                <h6 class="mb-[4px] font-AnekLatin-SemiBold text-[14px]/[18px] capitalize text-woodsmoke opacity-80">
                  Qty:1
                </h6>
                <h6 class="font-AnekLatin-SemiBold text-[14px]/[18px] capitalize text-woodsmoke opacity-80">
                  Price: ₹999
                </h6>
              </div>
            </div>
            <div class="product-list__item mb-[60px] flex items-start gap-[20px]">
              <div class="max-h-[60px] max-w-[60px]">
                <img src="https://picsum.photos/60/60" alt="">
              </div>
              <div class="">
                <h3 class="mb-[8px] font-AnekLatin-SemiBold text-[16px]/[18px] text-woodsmoke">
                  Vedix Customised Ayurvedic Hair Care Regimen
                </h3>
                <h6 class="mb-[4px] font-AnekLatin-SemiBold text-[14px]/[18px] capitalize text-woodsmoke opacity-80">
                  Qty:1
                </h6>
                <h6 class="font-AnekLatin-SemiBold text-[14px]/[18px] capitalize text-woodsmoke opacity-80">
                  Price: ₹999
                </h6>
              </div>
            </div>
            <div class="product-list__item flex items-start gap-[20px]">
              <div class="max-h-[60px] max-w-[60px]">
                <img src="https://picsum.photos/60/60" alt="">
              </div>
              <div class="">
                <h3 class="mb-[8px] font-AnekLatin-SemiBold text-[16px]/[18px] text-woodsmoke">
                  Vedix Customised Ayurvedic Hair Care Regimen
                </h3>
                <h6 class="mb-[4px] font-AnekLatin-SemiBold text-[14px]/[18px] capitalize text-woodsmoke opacity-80">
                  Qty:1
                </h6>
                <h6 class="font-AnekLatin-SemiBold text-[14px]/[18px] capitalize text-woodsmoke opacity-80">
                  Price: ₹999
                </h6>
              </div>
            </div>
          </div>
          <div id="total" class="price-list mt-[40px]">
            <div class="price-list__item mb-[15px] flex items-center justify-between">
              <h4 class="font-AnekLatin-SemiBold text-[16px]/[18px] capitalize text-woodsmoke opacity-60">Sub Total</h4>
              <p class="font-AnekLatin-Medium text-[16px]/[18px] capitalize text-woodsmoke">₹1398</p>
            </div>
            <div class="price-list__item mb-[15px] flex items-center justify-between">
              <h4 class="font-AnekLatin-SemiBold text-[16px]/[18px] capitalize text-woodsmoke opacity-60">Taxes</h4>
              <p class="font-AnekLatin-Medium text-[16px]/[18px] capitalize text-woodsmoke">₹540</p>
            </div>
            <div class="price-list__item mb-[15px] flex items-center justify-between">
              <h4 class="font-AnekLatin-SemiBold text-[16px]/[18px] capitalize text-woodsmoke opacity-60">
                Coupon Discount
              </h4>
              <p class="font-AnekLatin-Medium text-[16px]/[18px] capitalize text-woodsmoke">-₹90</p>
            </div>
            <div class="price-list__item mb-[15px] flex items-center justify-between">
              <h4 class="font-AnekLatin-SemiBold text-[16px]/[18px] capitalize text-woodsmoke opacity-60">
                Membership Discount
              </h4>
              <p class="font-AnekLatin-Medium text-[16px]/[18px] capitalize text-woodsmoke">-₹299</p>
            </div>
            <div class="price-list__item mb-[15px] flex items-center justify-between">
              <h4 class="font-AnekLatin-SemiBold text-[16px]/[18px] capitalize text-woodsmoke opacity-60">Shipping</h4>
              <p class="font-AnekLatin-Medium text-[16px]/[18px] capitalize text-woodsmoke">Free</p>
            </div>
            <div class="price-list__item mb-[15px] flex items-center justify-between">
              <h4 class="font-AnekLatin-SemiBold text-[16px]/[18px] capitalize text-woodsmoke opacity-60">
                Grand Total
              </h4>
              <p class="font-AnekLatin-Medium text-[16px]/[18px] capitalize text-woodsmoke">₹1099</p>
            </div>
          </div>
          <div class="mt-[20px] w-full bg-gin text-center">
            <button class="py-[12px] font-AnekLatin-Bold text-[14px]/[18px] text-japanese-laurel">
              Saved ₹90 On This Order
            </button>
          </div>
          <div id="divider" class="mt-[20px] h-[2px] w-full bg-[#131818] bg-opacity-20"></div>
          <div class="flex items-center justify-between pt-[20px]">
            <h4 class="font-AnekLatin-SemiBold text-[14px]/[18px] text-woodsmoke">Payment Method</h4>
            <h4 class="font-AnekLatin-SemiBold text-[14px]/[18px] text-woodsmoke">HDFC Credit Card XXXX</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-[20px] flex flex-col-reverse gap-5 md:mt-0 md:flex-row">
      <div class="w-full md:w-2/3 md:border-none lg:w-3/5">
        <div class="border border-solid border-quarter-spanish-white bg-white px-[20px] py-[20px] md:mt-[-70px] md:py-[50px]">
          <h2 class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke">
            {{- section.settings.vue_heading -}}
          </h2>
          <div class="mt-[5px] text-woodsmoke">
            {{- section.settings.vue_description -}}
          </div>
          <div class="parent-element__content py-[30px] text-left">
            {%- for block in section.blocks -%}
              <div class="parent-element__content-item flex items-start {%if forloop.index != 1%} mt-[20px]{%endif%}">
                {%- assign image = block.settings.icon -%}
                <div class="mr-2 max-w-[63px] flex-[0_0_100%] overflow-hidden rounded-full border border-solid border-silver-chalice">
                  {% if image != blank %}
                    {{ image | image_url: width: image.width | image_tag: class: 'w-[25px] h-[25px]', loading: 'lazy' }}
                  {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg w-full h-full' }}
                  {% endif %}
                </div>
                <div class="flex flex-col gap-2">
                  <h3 class="font-AnekLatin-SemiBold text-[16px]/[16px] uppercase text-bull-shot">
                    {{ block.settings.title }}
                  </h3>
                  <p class="text-[16px]/[20px] text-woodsmoke">
                    {{ block.settings.text }}
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="text-[14px]/[20px] text-woodsmoke">{{ section.settings.vue_notes }}</div>
        </div>
      </div>
      <div class="w-full md:w-1/3 lg:w-2/5">
        <div class="flex flex-col justify-start border border-solid border-quarter-spanish-white bg-white px-[20px] pb-[20px]">
          <h1 class="my-[15px] font-AnekLatin-SemiBold text-[18px]/[22px] text-woodsmoke">
            {{- section.settings.heading -}}
          </h1>
          <div class="mb-[15px] text-[16px]/[22px] text-woodsmoke">
            {{- section.settings.description -}}
          </div>
          {% assign image = section.settings.image %}
          <div class="w-full">
            {% if image != blank %}
              {{ image | image_url: width: image.width | image_tag: class: 'w-full h-full', loading: 'lazy' }}
            {% else %}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg w-full h-full' }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Order Summary",
  "class": "section-order-summary",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "section_bg",
      "label": "Background color",
      "default": "#FAF7F1"
    },
    {
      "type": "header",
      "content": "Hair Dynamics: Fall and Growth"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Lorem Ipsum is simply dummy text"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Vedix User Expectations"
    },
    {
      "type": "text",
      "id": "vue_heading",
      "label": "Heading",
      "default": "Lorem Ipsum is simply dummy text"
    },
    {
      "type": "richtext",
      "id": "vue_description",
      "label": "Description",
      "default": "<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>"
    },
    {
      "type": "richtext",
      "id": "vue_notes",
      "label": "Footer description",
      "default": "<p>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</p>"
    }
  ],
  "blocks": [
    {
      "name": "Expectations",
      "type": "expectations",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Vivamus semper pharetra quam"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text",
          "default": "Cras commodo eget enim at consectetur."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Order Summary"
    }
  ]
}
{% endschema %}
