{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div id="our-story" class="section-{{ section.id }}-padding">
  <div class="container mx-auto px-4">
    <h2 class="font-AnekLatin-Bold text-[18px]/[28px] text-black">{{ section.settings.heading }}</h2>
    <div class="mt-[18px] text-[14px]/[20px] text-black">
      {{ section.settings.paragraph }}
    </div>
    <div class="mt-[18px] grid grid-cols-2 gap-[16px]">
      {%- for block in section.blocks -%}
        {% if forloop.first %}
          {%- assign image = block.settings.image -%}
          <div class="img-{{ forloop.index }}">
            {% if image != blank %}
              {{ image | image_url: width: image.width | image_tag: class: 'w-full h-full', loading: 'lazy' }}
            {% else %}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg w-full h-full' }}
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
      <div class="flex h-full flex-col justify-between gap-[16px]">
        {%- for block in section.blocks -%}
          {% unless forloop.first %}
            {%- assign image = block.settings.image -%}
            <div class="img-{{ forloop.index }}">
              {% if image != blank %}
                {{ image | image_url: width: image.width | image_tag: class: 'w-full h-full', loading: 'lazy' }}
              {% else %}
                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg w-full h-full' }}
              {% endif %}
            </div>
          {% endunless %}
        {% endfor %}
      </div>
    </div>
    {% if section.settings.button_text != blank %}
      <div class="mt-8 text-center">
        <a
          href="{{ section.settings.button_link }}"
          class="btn"
          role="button"
        >
          <span class="mb-[-2px] mt-[2px]">{{ section.settings.button_text }}</span>
        </a>
      </div>
    {% endif %}
  </div>
</div>
{% schema %}
{
  "name": "Our Story",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Lorem Ipsum is simply dummy text"
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "Paragraph",
      "default": "<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Button text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "name": "Grid Image",
      "type": "grid_images",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Our Story"
    }
  ]
}
{% endschema %}
